</div>
</main>
<script>
    /**
     * Fetch from the API isLoggedIn to check if user is logged in 
     * and if so then create a button on navbar to admin panel.
     */
    fetch('/api/isLoggedIn')
        .then(response => response.json())
        .then(res => {
            const loginLink = document.getElementById('loginLink');
            if (!res.isLoggedIn) {
                loginLink.innerText = 'Login';
                loginLink.href = '/login';
                return;
            }
            loginLink.innerText = 'Logout';
            loginLink.href = '/logout';
            const isLoggedInLi = document.getElementById('isLoggedInList');
            const aLink = document.createElement('a');
            aLink.href = `/adminPanel`;
            aLink.innerText = "Admin Panel";
            aLink.classList.add('nav-link');
            isLoggedInLi.appendChild(aLink);
        });
</script>
<script>
    /**
     * Fetch the pages from the API pages.
     * If new pages is created is will be added to the dropdown menu
     * on navbar and now we have a new page that we can go to.
     */
    fetch('/api/pages')
        .then(response => response.json())
        .then(pages => {
            // Add a list item for each page to the navbar dropdown menu
            const dropdownPages = document.getElementById('dropdown-pages');
            pages.forEach(page => {
                const listItem = document.createElement('li');
                const aLink = document.createElement('a');
                aLink.href = `/page/${page.id}`;
                aLink.innerText = page.title;
                aLink.classList.add('dropdown-item');
                listItem.appendChild(aLink);
                dropdownPages.appendChild(listItem);
            });
            // Navigate to the selected page when a dropdown item is clicked
            dropdownPages.addEventListener('click', (event) => {
                event.preventDefault();
                const selectedPageId = event.target.getAttribute('href').substring(1);
                window.location.href = `/${selectedPageId}`;
            });
        });
</script>
<!-- <script src="./assets/js/createdDocumentationsPages.js"></script> -->
<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
<footer>
    <p id="copyright-year">%%FOOTER_YEAR%%</p>
</footer>
</body>

</html>